* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For a better display of the header */

body {
  min-height: 100vh;
}

/* ----- Header style -----  */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* ----- Main style -----  */

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

article {
  margin-bottom: 40px;
  text-align: justify;
}

article p.meta {
  font-style: italic;
}

/* ----- Footer style -----  */

footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  width: 100%;
}
